body {
	margin: 0;
}


h1 {
	color: white;
	background-color: black;
}

/* ul>li {
	color: darkcyan;
	list-style: none;
	margin: 0 5px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.25);
} */


/* ul>li:hover {
	background-color: darkcyan;
	color: white;
} */

/* 
ul {
	display: flex;
} */