<h1>Tasks</h1>


<h3>Add Tasks</h3>
<input type="text" id="addTaskDescription" placeholder="describe the task">
<button id="addTask">Add Task</button>

<h3>Task List</h3>
<ul>
	{{#each results}}
	<li data-tdid="{{todoItemId}}" {{#if isComplete}} class="complete" {{else}} class="incomplete" {{/if}}>
		{{#if isComplete}}
		<input class="iscomplete" type="checkbox" checked>
		{{else}}
		<input class="iscomplete" type="checkbox">
		{{/if}}
		<input type="text" class="task" value="{{{task}}}" />
		<button class="btnSave">Save</button>
		<button class="btnDelete">Delete</button>
	</li>
	{{/each}}
</ul>